DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_NAME="lokajatim_db"
JWT_SECRET_KEY=""
GEMINI_API_KEY=""
WEATHER_API_KEY=""
WEATHER_API_URL=""
SMTP_EMAIL=lokajatimalterra@gmail.com
SMTP_PASSWORD=""
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587